.header__item{
  font-family: Jost, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.7px;
  font-size: 20px;
  line-height: 150%;
  color: #292F36;
  margin-left: 38px;
}

.header__item:hover{
  color: #CDA274;
}
